{{ define "partial:header" }}
<header class="navbar">
    <nav role="navigation" aria-label="Products">
        {{ if .Links }}
        <ul role="list">
            {{ range $link := .Links }}
            <li><a href="{{ $link.URL }}">{{ $link.Name }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>
</header>
{{ end }}
